* {
	box-sizing: border-box; 
}
body {
	margin: 0;
	font-family: "Roboto", "Helvetica", sans-serif;
}
#page-header {
	height: 105px;
	margin: 10px 10px 10px 50px;
	font-family: serif;
}
#logo {
	float: left;
	width: 100px;
	height: 105px;
}
#main-header {
	padding-top: 25px;
	margin-left: 120px;
}
#main-header h1 {
	font-size: 20pt; 
	margin-top: 0px; 
	margin-bottom: 5px;
}
#main-header h2 {
	font-size: 12pt; 
	margin-top: 0; 
	margin-bottom: 0;
}
#sub-header {
	clear: both;
	width: 90%;
	margin: 30px auto;
	text-align: center;
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
}
#sub-header h1 {
	font-size: 50pt; 
	color: #112D4E;
	margin: 20px 0 0 0;
	line-height: 1.2em;
}
#sub-header h2 {
	font-size: 30pt;
	margin: 0 0 20px 0;
	line-height: 1.2em;
}
#content-wrap {
	width: 80%;
	margin: 0 auto 30px; 
}
#description {
	float: left;
	width: 48%;
	margin-right: 4%;
}
#description p {
	margin-top: 0;
}
#terms-and-conditions {
	background-color: #DBE2EF; 
	border-style: none;
}
#terms-and-conditions h3 {
	color: #3F72AF;
	margin: 0;
	padding: 15px;
}
#terms-and-conditions p {
	margin: 0;
	padding: 0 15px 15px;
}
#login-section {
	float: right;
	width: 48%;
}
#login-instructions {	
	overflow: auto;	
	background-color: #F9F8EB;
	border-color: #3F72AF;
	border-style: dashed;
	padding: 0 10px;
}
#login-icon {
	float: left;
	width: 7%;
	height: 100%;
	text-align: center;
}
#login-text {
	float: right;
	padding: 16px 0;
	height: 100%;
	width: 93%; 
	text-align: center;
}
#login-form {
	width: 100%;
}
.login-input {
	width: 100%;
	height: 40px;
	text-indent: 25px;
	margin-top: 20px; 
}
#login-submit {
	width: 100px;
	height: 30px;
	float: left; 
	margin-top: 20px;
	color: white;
	background-color: #112D4E;
	border-style: none;
	transition: background-color 500ms;
}
#login-submit:hover {
	background-color: #3F72AF;
	cursor: pointer;
}
#whitespace {
	clear: both;
	width: 100%;
	height: 30px;
}
#footer {
	color: white;
	background-color: #112D4E;
	text-indent: 10px;
	padding: 5px;
}