* {
	box-sizing: border-box; 
}
html {
	font-size: 16px;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Helvetica", sans-serif;
}
/* For Mobile Screens */
#page-header {
	display: none;
}
#sub-header {
	text-align: center;	
	text-transform: uppercase;
	color: white;
	background-color: #112D4E;
	padding: 1.25rem 0.625rem;
}
#sub-header h1, #sub-header h2 {
	margin: 0;
}
#content-wrap {
	padding: 0.625rem;
}
#description p {
	margin: 1rem 0;
	font-size: 1rem;
}
#terms-and-conditions {
	background-color: #DBE2EF; 
	border-style: none;
	padding: 0.625rem;
	margin-bottom: 1.25rem;
}
#terms-and-conditions h3 {
	color: #3F72AF;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 0.5rem;
	font-size: 1.2rem;
}
#terms-and-conditions p {
	margin: 0;
	font-size: 1rem;
}
#login-section {
	display: flex;
	flex-direction: column;
}
#login-instructions {
	display: flex;
	justify-content: space-between;
	padding: 0.625rem;
	background-color: #F9F8EB;
	border-color: #3F72AF;
	border-style: dashed;
	margin-bottom: 1.25rem;
}
#icon-container {
	display: flex;
	width: 5%;
}
#login-icon {
	font-size: 0.9rem;
	margin: auto;
	text-align: right;
}
#login-text {
	font-size: 0.9rem;
	text-align: center;
	width: 95%;
}
#login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1.25rem;
}
#login-form input {
	height: 1.8rem;
	font-size: 0.7rem;
}
.login-input {
	text-align: center;
}
.login-input:focus {
	outline: none;
	border-color: #3F72AF;
	border-style: solid;
}
#login-form div {
	display: flex;
	flex-direction: column;
}
#login-form div button {
	height: 1.8rem;
	font-size: 0.7rem;
	margin: auto;
	width: 50%;
	text-transform: uppercase;
	color: white;
	background-color: #112D4E;
	border-style: none;
	transition: background-color 500ms;
}
#login-form div button:active {
	background-color: #3F72AF;
}
.loginerror {
	color: #FF0000;
	font-size: 0.9rem;
	text-align: center;
	margin: 0;
}
#footer {
	color: white;
	background-color: #112D4E;
	height: 1.5rem;
	text-indent: 0.625rem;
	padding: 0.4rem;
	font-size: 0.7rem;
	font-family: monospace;
	text-align: center;
}
/* For Tablet Screens */
@media only screen and (min-width: 600px) {
	:root {
		font-size: 17px;
	}
	#page-header {
		display: flex;
		align-items: center;
		justify-content: left;
		padding: 0.5rem;
		font-family: serif;
	}
	#logo {
		margin-right: 1rem;
	}
	#logo img {
		width: 6.2rem;
	}
	#main-header h1 {
		font-size: 1.6rem; 
		text-transform: uppercase;
		margin: 0;
	}
	#main-header h2 {
		font-size: 1rem;
		margin: 0; 
	}
	#footer {
		margin-top: 1.5rem;
		text-align: left;
		text-indent: 1.5rem;
	}
}
/* For Laptop Screens */
@media only screen and (min-width: 770px) {
	body {
		font-size: 18px;
	}
	#page-header {
		width: 90%;
		margin: auto;
		padding: 0.5rem 0;
	}
	#sub-header {
		width: 90%;
		margin: 0 auto 1.2rem;
		color: #112D4E;
		background-color: white;
		border-top: solid;
		border-bottom: solid;
		border-width: 1px;
	}
	#sub-header h1 {
		font-size: 3.7rem;
		margin: 0;
	}
	#sub-header h2 {
		font-size: 2.3rem;
		margin: 0;
	}
	#content-wrap {
		display: flex;
		width: 85%;
		padding: 0;
		margin: auto;
		justify-content: space-between;
	}
	#description {
		width: 48%;
		margin: 0;
	}
	#description p {
		margin-top: 0;
	}
	#terms-and-conditions {
		padding: 0.9rem;
	}
	#terms-and-conditions h3 {
		text-align: left;
	}
	#login-section {
		width: 48%;
		align-items: left;
	}
	#login-instructions {
		padding: 0.9rem 0.6rem;
	}
	.login-input {
		text-align: left;
		text-indent: 1.4rem; 
	}
	#login-form div {
		justify-content: space-between;
		flex-direction: row;
	}
	#login-form div button {
		margin: 0;
		width: 30%;
		height: 1.6rem;
		transition: background-color 500ms;
	}
	#login-form div button:hover {
		background-color: #3F72AF;
		cursor: pointer;
	}
	.loginerror {
		width: 65%;
		text-align: left;
		line-height: 1.5rem;
	}
}
/* For desktop screens */
@media only screen and (min-width: 1024px) {
	:root {
		font-size: 20px;
	}
}
/* For large desktop screens */
@media only screen and (min-width: 1440px) {
	:root {
		font-size: 22px;
	}
	header {

	}
	#login-form div button {
		width: 25%;
	}
	.loginerror {
		width: 70%;
	}
}
/* For 4K screen resolution */
@media only screen and (min-width: 2560px) {
	:root {
		font-size: 32px;
	}